.pricing {
  &__cards {
    display: flex;
    justify-content: center;
    width: 100% !important;
    padding: 0 !important;
  }
}


.wrapper {
    width: 90%;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 5px 10px 15px $mantis, -5px -10px 15px $white;
  }
  .wrapper header {
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    position: relative;
  }
  header label {
    height: 100%;
    z-index: 2;
    width: 50%;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
  // #tab-1:checked ~ header .tab-1,
  // #tab-2:checked ~ header .tab-2,
  // #tab-3:checked ~ header .tab-3 {
  //   color: #fff;
  // }
  #tab-1:checked ~ header .tab-1,
  #tab-2:checked ~ header .tab-2 {
    color: #fff;
  }
  header label:nth-child(2) {
    width: 50%;
  }
  header .slider {
    position: absolute;
    height: 100%;
    border-radius: inherit;
    background: linear-gradient(145deg, $mantis 0%, $forest-green 100%);
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ header .slider {
    left: 0%;
    width: 50%;
    transform: translateX(0%);
  }
  #tab-2:checked ~ header .slider {
    left: 50%;
    width: 50%;
    transform: translateX(-0%);
  }
  // #tab-3:checked ~ header .slider {
  //   left: 100%;
  //   width: 95px;
  //   transform: translateX(-105%);
  // }
  .wrapper input[type="radio"] {
    display: none;
  }
  .card-area {
    overflow: hidden;
  }
  .card-area .cards {
    display: flex;
    width: 200%;
  }
  .cards .row {
    width: 52%;
  }
  .cards .row-1 {
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ .card-area .cards .row-1 {
    margin-left: 0%;
  }
  #tab-2:checked ~ .card-area .cards .row-1 {
    margin-left: -49%;
  }
  // #tab-3:checked ~ .card-area .cards .row-1 {
  //   margin-left: -66.8%;
  // }
  .row .price-details {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
  }
  .price-details {
    .price {
    font-size: 60px;
    font-weight: 600;
    position: relative;
    font-family: "Noto Sans", sans-serif;

    }
    h3 {
      display: none;
    }
  
  }

  .price-details .price::after {
    content: "/mes";
    right: -33px;
    bottom: 17px;
    font-size: 13px;
  }
  .price-details p {
    font-size: 18px;
    margin-top: 5px;
  }
  .features {
    height: 240px;
  }
  .row .features li {
    font-size: 15px;
    list-style: none;
    margin-bottom: 10px;
  }


@media (min-width:992px) {
    /* Display both cards side by side */
    .card-area .cards {
      display: flex;
      width: 100%; /* Adjust as needed to fit both cards */
  }
  .card-area {
    overflow: visible;
  }
  .cards .row {
      width: 50%; /* Show each card at 50% width */
  }

  #tab-2:checked ~ .card-area .cards .row-1 {
    margin: 0;
  }
  
  .cards .row-1 {
      margin-left: 0;
      transition: none;
  }

  .price-details {
    .price {
      font-size: 65px;
    }
  }

  .wrapper {
    header {
      display: none;
    }

    width: 100%;
    border: none;
    padding: 0;
    box-shadow: none;
  }
  
  .wrapper header {
      display: none;
  }
  .cards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;

    .row {
      width: 40%;
      box-shadow: 5px 10px 15px $mantis, -5px -10px 15px $white;
      border-radius: 14px;
      transition: box-shadow 0.5s, transform 0.5s;


      &:hover {
        box-shadow: 5px 10px 15px $gunmetal, -5px -10px 15px $white;
        transform: scale(1.005);
      }
  
      .price-details {
        z-index: 10;
        h3 {
          text-transform: uppercase;
          display: block;
          width: 90%;
          text-align: center;
          position: relative;
          margin: 0 auto 20px;
          padding: 10px 5px;
          text-align: center;
          color: $white;
          background-color: $forest-green;
          letter-spacing: 2px;


          &::before,
          &::after {
            content: '';
            width: 80px;
            height: 100%;
            background-color: $forest-green;

            position: absolute;
            z-index: -1;
            top: 20px;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);

            background-image: linear-gradient(45deg, transparent 50%, $black 50%);
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position: bottom right;
          }

          &::before{
            left: -60px;
          }
          &::after{
            right: -60px;
            transform: scaleX(-1); /* flip horizontally */
          }
        }
      }

      .features {
        height: 310px;

        li {
          font-size: 1.1rem;
          list-style: none;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (min-width:1200px) {
  .cards {
    .row {
      .features {
        height: 280px;
      }

    }
  }
}