.solutions {
    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__card {
            padding: 15px;
            margin-bottom: 20px;
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 90%;
            height: 270px;
            background: rgb(255, 255, 255);
            border-radius: 1rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            transition: all ease-in-out 0.3s;
            
            .card:hover {
            background-color: #fdfdfd;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
                rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
                rgba(0, 0, 0, 0.09) 0px 32px 16px;
            }

            h6 {
            font-size: 1.5rem;
            color: $forest-green;
            }
              
            
            /* OOOO */
            
            .card {
                width: 190px;
                height: 254px;
                background: rgb(236, 236, 236);
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
              }
        }
    }    
}

@media (min-width:992px) {
    .solutions {
        &__cards {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            &__card {
                justify-content: start;
                width: 30%;
                height: 300px;
            }
        }
    }
}


// .carousel-solutions-container {
//     position: relative;
//     overflow: hidden;
//     width: 100%;
// }

// .carousel-solutions {
//     display: flex;
//     justify-content: center;

//     transition: transform .5s ease;

//     &__item {
//         min-height: 500px;
//         width: 80%;
//         background: linear-gradient(155deg, $black 60%, $gunmetal );
//         box-shadow: 4px 6px 14px #00000036;
//         border-radius: 3px;
//         color: $mantis;
//         padding: 16px;
//         display: none;
//         transition: opacity 0.5s ease;

//         h6 {
//             color: $white;
//             font-size: 23px;
//             text-align: center;
//             margin-bottom: 1rem;
//             text-shadow: 1px 2px 14px $white;
//         }

//         &__img {
//             height: 200px;
//             background-color: $gunmetal;
//             margin-bottom: 1rem;
//         }
//         p {
//             text-align: start;
//             font-size: 17px;
//         }
        

//         .active {
//             display: block;
//         }

//         /* Animaciones de entrada y salida */
//         &.slide-in-right { animation: slideInFromRight 0.5s forwards; }
//         &.slide-in-left { animation: slideInFromLeft 0.5s forwards; }
//         &.slide-out-right { animation: slideOutToRight 0.5s forwards; }
//         &.slide-out-left { animation: slideOutToLeft 0.5s forwards; }
//     }

// }

// @keyframes slideInFromRight {
//     from { transform: translateX(100%); opacity: 0; }
//     to { transform: translateX(0); opacity: 1; }
// }

// @keyframes slideInFromLeft {
//     from { transform: translateX(-100%); opacity: 0; }
//     to { transform: translateX(0); opacity: 1; }
// }

// @keyframes slideOutToRight {
//     from { transform: translateX(0); opacity: 1; }
//     to { transform: translateX(100%); opacity: 0; }
// }

// @keyframes slideOutToLeft {
//     from { transform: translateX(0); opacity: 1; }
//     to { transform: translateX(-100%); opacity: 0; }
// }

// .carousel-controls {
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     transform: translateY(-50%);
// }

// .carousel-controls button {
//     background: rgba(0, 0, 0, 0.5);
//     border: none;
//     color: white;
//     cursor: pointer;
//     padding: 10px;
// }

// .carousel-indicators {
//     text-align: center;
//     margin-top: 10px;
// }

// .carousel-indicators button {
//     background: #ccc;
//     border: none;
//     border-radius: 50%;
//     width: 10px;
//     height: 10px;
//     margin: 0 5px;
//     cursor: pointer;
// }

// .carousel-indicators .active {
//     background: #fff;
// }


// .solutions {
//     &-cards {
//         padding: 10px;
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         &__card {
//             min-height: 200px;
//             background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
//             box-shadow: 4px 6px 14px #00000036;
//             border-radius: 3px;
//             color: $mantis;
//             padding: 16px;
//             transition: all .3s;

//             h6 {
//                 color: $white;
//                 font-size: 20px;
//             }
//             p {
//                 text-align: start;
//             }
        
//         }
//     }
// }



