@charset "UTF-8";
/* Eliminar márgenes y rellenos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Establecer un tamaño de fuente base */
html {
  font-size: 100%; /* 16px por defecto */
}

/* Eliminar estilos de listas */
ul, ol {
  list-style: none;
}

/* Eliminar estilos de tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Establecer estilos básicos para enlaces */
a {
  text-decoration: none; /* Sin subrayado */
  color: inherit; /* Hereda el color */
}

/* Establecer estilos básicos para imágenes */
img {
  max-width: 100%; /* Asegura que las imágenes no desborden su contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}

/* Estilos para botones */
button {
  border: none;
  background: none;
  cursor: pointer;
}

.subtitle {
  font-size: 2rem;
  color: #108239;
  font-weight: 600;
  text-align: center;
  padding-bottom: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}

.border_detail {
  width: 50%;
  border-top: 4px solid #6CB860;
  margin-bottom: 60px;
  margin-top: 20px;
}

.border_detail_dark {
  width: 50%;
  border-top: 4px solid #6CB860;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .border_detail {
    width: 25%;
    margin-top: 70px;
  }
  .subtitle {
    margin-bottom: 50px;
    text-align: start;
  }
}
#navbar-logo {
  width: 100px;
}

#navbar {
  position: sticky;
  top: 0px;
  z-index: 1000;
  margin-bottom: 50px;
}

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28108, 184, 96, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-color: #ffffff !important;
  outline: none;
  position: sticky;
  top: 0px;
}

.nav-item {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.nav-item:focus, .nav-item:hover {
  color: #6CB860 !important;
}
.nav-item:focus::after, .nav-item:hover::after {
  width: 100% !important;
  left: 0% !important;
}
.nav-item::after {
  content: "";
  pointer-events: none;
  bottom: -1px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #108239;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.navbar-toggler {
  outline: none;
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse {
  border-bottom: 2px solid #108239;
}

@media (min-width: 992px) {
  .navbar-collapse {
    border: none;
  }
}
.value-proposition {
  color: #6CB860;
  background: linear-gradient(#000000 75%, #108239, #6CB860, #ffffff);
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
}
.value-proposition__logo {
  height: 100px;
  width: 100%;
}
.value-proposition__logo img {
  max-width: 100%;
  max-height: 100%;
}

.value-text {
  font-family: "Montserrat", sans-serif;
  margin-top: -20px;
}
.value-text .headline {
  font-size: 2.7rem;
  font-weight: 550;
  letter-spacing: 1px;
  text-shadow: -5px 4px 18px #6CB860;
}
.value-text .description {
  font-size: 1.1rem;
}

.cta-button {
  color: #000000;
  padding: 0.6em 1.3em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #6CB860;
  cursor: pointer;
  border: 1px solid #6CB860;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #108239, -6px -6px 12px #108239;
}

.cta-button:active {
  color: #000000;
  box-shadow: inset 4px 4px 12px #6CB860, inset -4px -4px 12px #108239;
}

.media-container {
  margin: 0;
  padding: 0;
}
.media-container .promo-video {
  width: 100%;
}

@media (min-width: 992px) {
  .value-proposition {
    height: 100vh;
    background: linear-gradient(#000000 80%, #108239, #6CB860, #ffffff);
    display: flex;
    flex-direction: column;
  }
  .value-proposition__logo {
    height: 150px;
  }
  .value-proposition .container {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
  }
  .value-proposition__text {
    width: 45%;
  }
  .value-proposition__media {
    width: 45%;
  }
}
.questions ul {
  padding: 0;
  padding-left: 2rem;
}
.questions li {
  color: #000000;
  font-size: 1.3rem;
  position: relative;
  margin-bottom: 15px;
}
.questions li::before {
  content: "▰";
  position: absolute;
  left: -1.5rem;
  font-size: 1.2rem;
  color: #108239;
}

@media (min-width: 992px) {
  .questions__items {
    display: flex;
    justify-content: space-between;
  }
  .questions__items ul {
    width: 48%;
  }
}
.solutions__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solutions__cards__card {
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all ease-in-out 0.3s;
}
.solutions__cards__card .card:hover {
  background-color: #fdfdfd;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.solutions__cards__card h6 {
  width: 100%;
  font-size: 1.3rem;
  color: #108239;
  text-align: start;
}

@media (min-width: 992px) {
  .solutions__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
  }
  .solutions__cards__card {
    justify-content: start;
    width: 100%;
    height: 200px;
  }
}
.confidence {
  color: #6CB860;
  background: linear-gradient(#000000 85%, #108239, #6CB860);
}
.confidence__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confidence__cards__card {
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  width: 90%;
  height: 250px;
  border-radius: 14px;
  z-index: 500;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 15px #6CB860, -5px -10px 15px #ffffff;
}
.confidence__cards__card .bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 240px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}
.confidence__cards__card .blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 125px;
  border-radius: 50%;
  background-color: #108239;
  opacity: 0.6;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}
.confidence__cards__card header {
  z-index: 10;
}
.confidence__cards__card header h6 {
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
}
.confidence__cards__card p {
  z-index: 10;
  font-size: 1.3rem;
}
@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }
  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }
  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }
  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

@media (min-width: 992px) {
  .confidence__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .confidence__cards__card {
    width: 30%;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
  }
  .confidence__cards__card:hover {
    border: #6CB860 0.2em solid;
  }
  .confidence__cards__card .blob {
    display: none;
  }
  .confidence__cards__card .bg {
    display: none;
  }
}
.how-it-works .roadmap {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
}
.how-it-works .roadmap__step {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  position: relative;
}
.how-it-works .roadmap__step__icon {
  display: none;
}
.how-it-works .roadmap__step:first-child::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  bottom: 0;
  width: 2px;
  background-color: #108239;
}
.how-it-works .roadmap__step:last-child::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 50%;
  width: 2px;
  background-color: #108239;
}
.how-it-works .roadmap__step::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #108239;
}
.how-it-works .roadmap__step__number {
  font-size: 1.5em;
  background-color: #108239;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  position: relative;
  z-index: 1;
}
.how-it-works .roadmap__step p {
  width: 85%;
  font-size: 1.2rem;
  margin: 0;
  padding-left: 10px;
  line-height: 1.5;
}
.how-it-works .roadmap_detail {
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .how-it-works .roadmap {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
  }
  .how-it-works .roadmap__step {
    display: flex;
    align-items: center;
    padding-bottom: 70px;
    position: relative;
    /* Línea que conecta los números */
  }
  .how-it-works .roadmap__step__icon {
    display: block;
    color: #0E2327;
    width: calc(50% - 20px);
  }
  .how-it-works .roadmap__step__number {
    font-size: 1.5em;
    background-color: #108239;
    color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .how-it-works .roadmap__step__number i {
    margin: 0;
  }
  .how-it-works .roadmap__step p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    width: calc(50% - 20px);
  }
  .how-it-works .roadmap__step:nth-child(odd) {
    flex-direction: row;
    justify-content: flex-start;
  }
  .how-it-works .roadmap__step:nth-child(odd) .roadmap__step__number {
    margin: 0;
  }
  .how-it-works .roadmap__step:nth-child(odd) .roadmap__step__icon {
    color: #6CB860;
    text-align: end;
    padding-right: 20px;
  }
  .how-it-works .roadmap__step:nth-child(odd) p {
    padding-left: 20px;
  }
  .how-it-works .roadmap__step:nth-child(even) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .how-it-works .roadmap__step:nth-child(even) .roadmap__step__number {
    order: 2;
    margin: 0;
  }
  .how-it-works .roadmap__step:nth-child(even) .roadmap__step__icon {
    color: #0E2327;
    order: 1;
    padding-left: 20px;
  }
  .how-it-works .roadmap__step:nth-child(even) p {
    order: 3;
    padding-right: 20px;
  }
  .how-it-works .roadmap__step::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #108239;
    z-index: 0;
    transform: translateX(-50%);
  }
  .how-it-works .roadmap__step:first-child::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 20%;
    bottom: 0;
    width: 2px;
    background-color: #108239;
    z-index: 0;
    transform: translateX(-50%);
  }
  .how-it-works .roadmap__step:last-child::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 70%;
    width: 2px;
    background-color: #108239;
    z-index: 0;
    transform: translateX(-50%);
  }
}
.faqs__cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.faqs__cards .blue {
  background-color: #0E2327;
  color: #ffffff;
}
.faqs__cards__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
  width: 90%;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms transform, 400ms box-shadow, 400ms background-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.faqs__cards__card p.tip {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
}
.faqs__cards__card p.second-text {
  font-size: 1.1rem;
}
.faqs__cards__card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  color: #333;
}

.faqs__cards:hover > .faqs__cards__card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  .faqs__cards {
    flex-direction: row;
  }
  .faqs__cards__card {
    width: 30%;
    height: 270px;
    justify-content: start;
    padding: 10px;
  }
  .faqs__cards__card p.tip {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
  }
  .faqs__cards__card p.second-text {
    font-size: 1.1rem;
    text-align: start;
  }
}
.pricing__cards {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 90%;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 5px 10px 15px #6CB860, -5px -10px 15px #ffffff;
}

.wrapper header {
  height: 55px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  position: relative;
}

header label {
  height: 100%;
  z-index: 2;
  width: 50%;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

#tab-1:checked ~ header .tab-1,
#tab-2:checked ~ header .tab-2 {
  color: #fff;
}

header label:nth-child(2) {
  width: 50%;
}

header .slider {
  position: absolute;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(145deg, #6CB860 0%, #108239 100%);
  transition: all 0.3s ease;
}

#tab-1:checked ~ header .slider {
  left: 0%;
  width: 50%;
  transform: translateX(0%);
}

#tab-2:checked ~ header .slider {
  left: 50%;
  width: 50%;
  transform: translateX(0%);
}

.wrapper input[type=radio] {
  display: none;
}

.card-area {
  overflow: hidden;
}

.card-area .cards {
  display: flex;
  width: 200%;
}

.cards .row {
  width: 52%;
}

.cards .row-1 {
  transition: all 0.3s ease;
}

#tab-1:checked ~ .card-area .cards .row-1 {
  margin-left: 0%;
}

#tab-2:checked ~ .card-area .cards .row-1 {
  margin-left: -49%;
}

.row .price-details {
  margin: 20px 0;
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #e6e6e6;
}

.price-details .price {
  font-size: 65px;
  font-weight: 600;
  position: relative;
  font-family: "Noto Sans", sans-serif;
}

.price-details .price::after {
  content: "/mes";
  right: -33px;
  bottom: 17px;
  font-size: 13px;
}

.price-details p {
  font-size: 18px;
  margin-top: 5px;
}

.features {
  height: 240px;
}

.row .features li {
  font-size: 15px;
  list-style: none;
  margin-bottom: 10px;
}

.contact {
  background-color: #000000;
  color: #6CB860;
}
.contact header {
  margin-bottom: 50px;
}
.contact header h2 {
  color: #6CB860;
  padding-bottom: 5px;
  text-align: center;
}
.contact header p {
  font-size: 1.3rem;
  text-align: center;
}
.contact__form {
  max-width: 600px;
  display: flex;
  justify-content: center;
}
.contact__form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__form form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.contact__form form label span {
  margin-bottom: 5px;
}
.contact__form form label span::after {
  content: "*";
  color: #6CB860;
}
.contact__form form input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #6CB860;
  color: #ffffff;
  padding: 10px;
  caret-color: #ffffff;
  font-size: 1.1rem;
}
.contact__form form textarea {
  height: 80px;
  background-color: transparent;
  outline: 1px solid #6CB860;
  border: none;
  color: #ffffff;
  padding: 3px;
  caret-color: #ffffff;
  resize: vertical;
}
.contact__form__btn_submit {
  margin-top: 20px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #108239, #6CB860);
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding: 14px 28px;
  cursor: pointer;
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
}
.contact__form__btn_submit:hover {
  background: linear-gradient(to bottom, #6CB860, #6CB860);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}
.contact__form__btn_submit:active {
  transform: scale(0.95);
}

@media (min-width: 992px) {
  .contact header h2 {
    margin-bottom: 15px;
  }
  .contact__form form label {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .contact__form form input {
    width: 400px;
    border: 1px solid #6CB860;
  }
  .contact__form form textarea {
    width: 400px;
  }
}
@keyframes button-shimmer {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right bottom;
  }
}
@keyframes button-particles {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right bottom;
  }
}
.footer {
  background-color: #000000;
}
.footer__logo {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__logo img {
  max-width: 100%;
  max-height: 100%;
}
.footer__data__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__data__address p {
  width: 80%;
  text-align: start;
  color: #ffffff;
  font-size: 1.1rem;
}
.footer__data__schedule h6 {
  margin-top: 10px;
  color: #6CB860;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.3rem;
}
.footer__data__schedule p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .footer {
    padding-bottom: 20px;
  }
  .footer__logo {
    height: 200px;
  }
  .footer__data {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 800px;
  }
  .footer__data__address {
    font-size: 1.2rem;
    width: 500px;
  }
  .footer__data__schedule {
    justify-content: start;
    width: 260px;
    font-size: 1.2rem;
  }
}
.whatsapp {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
  border-radius: 100%;
  background-color: #6CB860;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp i {
  color: #ffffff;
}

@media (min-width: 992px) {
  .whatsapp {
    bottom: 40px;
    right: 40px;
  }
  .whatsapp:hover {
    background-color: #108239;
  }
}

/*# sourceMappingURL=styles.css.map */
